body {
    background: linear-gradient(to bottom, rgb(203, 203, 244), rgb(90, 90, 188));
}

h1 {
    font-family: Impact;
    font-size: 50px;
    letter-spacing: 3px;
    text-align: center;
}

div#a {
    font: 40pt normal arial;
    background-color: black;
    color: aliceblue;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
}
div#b {
    font: 40pt normal arial;
    background-color: black;
    color: aliceblue;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
}
div#c {
    font: 40pt normal arial;
    background-color: black;
    color: aliceblue;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
}
div#d {
    font: 40pt normal arial;
    background-color: black;
    color: aliceblue;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
}
div#e {
    font: 40pt normal arial;
    background-color: black;
    color: aliceblue;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
}
div#f {
    font: 40pt normal arial;
    background-color: black;
    color: aliceblue;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
}
div#g {
    font: 40pt normal arial;
    background-color: black;
    color: aliceblue;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
}
div#h {
    font: 40pt normal arial;
    background-color: black;
    color: aliceblue;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
}
div#i {
    font: 40pt normal arial;
    background-color: black;
    color: aliceblue;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
}

.grade {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    padding: 10px;
    justify-content: center;
    cursor: pointer;
}

button#reiniciar {
    width: 70px;
    height: 40px;
    background-color: brown;
    display: flex;
    margin: 10px;
    color: antiquewhite;
    box-shadow: inset;
    cursor: pointer;
    text-align: center;
    
}

footer {
    font: normal arial 12pt;
    border-bottom: 1px solid;
    border-top: 1px solid;
}

/*Resposta do Desafio*/
/* A - C -> Azul*/
/* B - G -> Aramelo */
/* H - I -> Cinza*/
/* D - F -> Verde*/
/* E é a bomba -> Vermelho*/